body {
    font-family: 'Noto Sans KR', sans-serif;
    background: #efefef;
    font-size: 16px;
}

header {
    top: 0;
    left: 0;
    width: 300px;
    background: #fff;
    padding: 50px 30px;
}

.pl-300 {
    padding-left: 320px;
    padding-top: 20px;
}

.comu-box {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.comu-box h2{
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

footer {
    padding: 20px 30px;
    background: #666;
    color: #fff;
}

@media (min-width: 1200px) {

    .container,
    .container-fluid,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
        max-width: 1340px;
    }
}